form {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
}

article {
    margin: 20px 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

body {
    font-family: Roboto Condensed, sans-serif;
    background-color: rgba(6, 11, 16, 255);
    color: #fff;
}

#album-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: #f5f5f5;
}

#album-view div {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

#album-view div:hover {
    transform: scale(1.03);
}

#album-view h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

#album-view p {
    font-size: 16px;
    color: #666;
}

#album-view img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
}

label {
    color: #ffffff;
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.no-scroll {
    overflow: hidden;
}