:root {
  --articlecontainerdimensionheight: 65.5vh;
  --articlecontainerdimensionheightlapt: 40vw;
  --unidivheight: 9.2vw;
  --paddingunidiv: 10px 0px;
  --logonavheight: 10vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto Condensed, sans-serif;
}

/*---- BOTTONE ASSISTENZA ----*/
.fixed-button {
  font-family: "PT Sans", sans-serif;
  background-color: #264E4A;
  border-radius: 100px;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  position: fixed;
  right: 5vw;
  bottom: 2.5vw;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  z-index: 199;
}

.fixed-button p {
  border: 2px solid;
  border-radius: 100px;
  padding: 0px 7px;
  margin: 5px;
}

.divassist {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 24px 24px 0 0;
  color: #ffffff;
  padding: 16px;
  position: fixed;
  right: 5vw;
  bottom: 0;
  width: 380px;
  height: auto;
  min-height: 550px;
  box-shadow: 0px -6px 32px 0px rgba(0, 0, 0, 0.15);
  animation: slide-up 0.5s ease-out;
  z-index: 9999;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.DivCloseAssist {
  background-color: #264e4a00;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 4%;
}

.DivCloseAssist h1 {
  color: black;
  font-family: "PT Sans", sans-serif;
  font-size: 2.4em;
  font-weight: 600;
}

.DivCloseAssist img {
  background-color: #ff000000;
  height: 50%;
  width: 3.5vh;
  cursor: pointer;
}

.divassistcontent {
  background-color: #4e262600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
}

.assistcontentitem,
.assistcontentitem2,
.assistcontentitem3,
.assistcontentitem4 {
  width: 100%;
  padding: 16px;
  margin-top: 6.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
}

.assistcontentitem,
.assistcontentitem2 {
  background-color: #264E4A;
}

.assistcontentitem3,
.assistcontentitem4 {
  background-color: #f0f0f0;
  color: black;
}

/* Stile per i tag h3 */
.divassistcontent h3.myH3Class {
  margin-bottom: 7%;
  font-family: "PT Sans", sans-serif;
}

/* Stile per i tag p */
.divassistcontent p.myPClass {
  font-family: "PT Sans", sans-serif;
}

/*---- BOTTONE ASSISTENZA FINE ----*/

/*---- MINI-NAV ----*/
#flexlogin {
  background-color: rgba(41, 39, 40, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.8vh;
}

#loginelemcontainer {
  background-color: rgba(41, 39, 40, 255);
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin-left: 3.3%;
  margin-right: 3.3%;
  align-items: center;
}

div#loginelemcontainer a {
  color: rgba(161, 165, 167, 255);
  margin: 0;
  font-size: 0.9em;
}

.group,
.group2 {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.group {
  margin-left: 8%;
  width: 13%;
}

.group2 {
  margin-right: 9%;
  width: 12%;
}

/*---- MINI-NAV FINE ----*/

/*---- NAV PRINCIPALE ----*/
.logonav {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: var(--logonavheight);
}

#logodiv {
  background-color: rgba(43, 174, 226, 0);
  display: flex;
  align-items: center;
  height: auto;
  width: 33.3%;
  z-index: 0;
}

#logodiv img {
  height: auto;
  width: 200px;
  margin-left: 32%;
}

.centerlink {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 100%;
  white-space: nowrap;
}

.centerlink img {
  height: auto;
  width: 27px;
  padding: 5px;
}

.centerlink div {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

div.centerlink a {
  font-weight: bold;
  font-size: 1em;
  color: #2C2D33;
  white-space: nowrap;
}

div.centerlink a:hover {
  opacity: 0.9;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown-center {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00ffe500;
  width: 100%;
  position: absolute;
}

.dropdown-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #ffffff;
  width: 30%;
  white-space: nowrap;
}

.titledropdown {
  background-color: #c32d3200;
  display: flex;
  justify-content: center;
  width: calc(50% - 5%);
  font-size: 1em;
  margin: auto;
  flex-direction: column;
}

.titledropdown h3 {
  background-color: #264e4a00;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #b4b4b4;
}

.dropdown-content p,.dropdown-content a {
  display: block;
  border-bottom: 1px solid #ebebeb;
  padding: 10px 15px;
  text-decoration: none;
}

#iconmenu {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: none;
}

#iconmenu p {
  margin-right: 1vh;
}

#menu {
  display: none;
}

#menu div {
  width: 25px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin: 5px 0;
}

#active div {
  display: none;
}

.hidden {
  display: none !important;
}

#blog,
#libri,
#rivista,
#videocorsi,
#formazioni,
#personal {
  display: flex;
  align-items: center;
}

/*---- NAV PRINCIPALE FINE ----*/

/*---- ARTICLE ----*/
.articlecontainer {
  background-color: rgba(6, 11, 16, 255);
}

.articlecontainercontent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #264e4a00;

}

#h1article {
  height: auto;
  width: 60vh;
  background-color: #c32d3200;
  margin-right: 1vh;
}

div#h1article h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.85em;
}

div#h1article p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.05em;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 6%;
}

#alinktopmarg a {
  background-color: rgba(66, 69, 74, 255);
  padding: 5px 11px;
  border-radius: 25px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.05em;
  font-weight: bold;
  line-height: 4.5;
}

#alink2 {
  background-color: rgba(10, 80, 183, 255);
  padding: 13px 17px;
  border-radius: 7px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.05em;
  font-weight: bold;
  line-height: 4.5;
  text-decoration: none;
  cursor: pointer;
}

a#alink2:hover {
  text-decoration: underline;
}

#divalink {
  margin-top: 4vh;
}

#articleimg {
  display: flex;
  background-color: rgba(72, 224, 12, 0);
  width: 65.5vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: var(--articlecontainerdimensionheight);
}

#articleimg img {
  height: auto;
  width: 100%;
}

/*DIV DATA*/
.infoDiv {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  flex-direction: column;
  width: 20%;
}

.infoDiv p {
  padding: 3% 10%;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}
.infoDiv p::first-letter {
  text-transform: uppercase;
}
.imgDiv {
  background-color: #292728;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4%;
}

.imgDiv h3 {
  color: #c32d32;
  font-family: "PT Sans", sans-serif;
}

.closeButton {
  background-color: #ffd90000;
  height: auto;
  width: 7%;
  cursor: pointer;
}

.closeButton:hover {
  background-color: #615f55;
}

/*DIV DATA FINE*/

/*---- ARTICLE FINE ----*/

/*---- SECTION DOUBLE CONTENT ----*/
.academy-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.academy-container {
  display: flex;
  background-color: rgba(102, 51, 153, 0);
  width: 61%;
}

.academy-item {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: var(--paddingunidiv);
  height: var(--unidivheight);
}

.academy-content {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: rgba(255, 99, 71, 0);
  width: 95%;
  border-radius: 10px;
  margin: 2px;
  box-shadow: 0px 0px 0.5px 0.5px #dcdbdb;
}

.academy-description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  height: 100%;
  width: 100%;
  padding: 10px;
}

div.academy-container span,
.academy-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

div.academy-container span {
  color: rgb(0, 0, 0);
  font-size: 1.3em;
}

.academy-link {
  color: #c32d32;
  font-size: 0.9em;
}

.academy-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  width: 20%;
  height: 80%;
  margin: 3vh;
}

.academy-image img {
  background-color: black;
  border-radius: 10px;
  width: auto;
  height: 100%;
}

/*---- SECTION DOUBLE CONTENT FINE ----*/

/*---- MULTI NEWS SECTION ----*/
.multisection {
  background-color: #c32d3200;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.7vw;
}

.multisectioncontainer {
  display: flex;
  background-color: rgba(0, 255, 255, 0);
  width: 75%;
}

.largetabitem {
  background-color: #d501ff00;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
}

.largetabcontent {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 4.5vh;
  padding-right: 4.5vh;
  justify-content: center;
}

.imagelargetab {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  width: 100%;
  justify-content: center;
}

.imagelargetab img {
  width: 100%;
  height: auto;
}

.largetabtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1vh;
  width: 100%;
}

.largetabtext span {
  font-family: "PT Sans", sans-serif;
  color: #2C2D33;
  font-size: 0.75em;
}

.largetabtext h4 {
  font-family: "Roboto Condensed", sans-serif;
  color: #2C2D33;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 2%;
  padding: 0;
}

.largetabtext p {
  font-family: "PT Sans", sans-serif;
  color: #2C2D33;
  font-size: 1.1em;
  line-height: 1.7;
}

.bookmark-container {
  display: flex;
  background-color: #c32d3200;
  justify-content: flex-end;
  flex-direction: row;
}

div.bookmark-container img {
  width: 20px;
  height: auto;
}

/*-------MEDIUMITEM-------*/
.mediumtabcontainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #052aff00;
  margin: 2px;
  height: 69vh;
}

.mediumtabitem {
  background-color: #0051ad00;
  display: flex;
  width: 100%;
  padding: var(--paddingunidiv);
  height: var(--unidivheight);
  flex: 1;
}

.mediumtabcontent {
  display: flex;
  background-color: #264e4a00;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.imagemediumtab {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  height: 54%;
  width: 88%;
  flex-direction: column;
  margin-top: 7.5vh;
}

.imagemediumtab img {
  width: 100%;
  height: auto;
}

.mediumtabtext {
  display: flex;
  margin-top: 1vh;
}

.mediumtabtext span {
  font-family: "PT Sans", sans-serif;
  color: #2C2D33;
  font-size: 0.75em;
}

.mediumtabtext h4 {
  font-family: "PT Sans", sans-serif;
  color: #2C2D33;
  font-size: 1.1em;
  padding: 5px;
  font-weight: 400;
}

/*-------MEDIUMITEM-------*/

/*-------SMALLITEM-------*/
.smallitemsection {
  background-color: #c32d3200;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vw;
}

.multismallsectioncontainer {
  display: flex;
  background-color: rgba(0, 255, 255, 0);
  width: 73%;
}

.smalltabcontainer {
  display: flex;
  flex-direction: column;
  background-color: #1235ff00;
  margin: 2px;
  height: 50vh;
  flex: 1;
}

.smalltabitem {
  background-color: rgba(173, 0, 115, 0)00;
  display: flex;
  width: 100%;
  padding: var(--paddingunidiv);
}

.imagesmalltab {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  width: 51.5%;
  flex-direction: row;
  margin-top: 2vh;
}

.smalltabcontent {
  display: flex;
  background-color: #fffb0500;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.imagesmalltab img {
  width: 100%;
  height: auto;
}

.smalltabtext {
  display: flex;
  margin-left: 1vh;
  margin-top: 2vh;
}

.smalltabtext span {
  font-family: "PT Sans", sans-serif;
  color: #2C2D33;
  font-size: 0.8em;
}

.smalltabtext h4 {
  font-family: "Roboto Condensed", sans-serif;
  color: #2C2D33;
  font-size: 1.4em;
  padding: 5px;
  font-weight: 400;
}

.small-link {
  color: #c32d32;
  font-size: 0.95em;
  font-weight: 400;
}

/*-------SMALLITEM-------*/
/*---- MULTI NEWS SECTION FINE ----*/

/*CAROSELLO*/
.slideshow-div{
  background-color: #f5f5f5;
  display: flex;
  justify-content: flex-start;
  margin-top: 7vw;
  align-items: center;
}
.SideshowText{
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  background-color: #0026ff00;
  height: auto;
  width: 26%;
  padding: 5%;
}
.SideshowText h1{
font-size: 3em;
color: #c32d32;
margin-bottom: 2vh;
}
.SideshowText h3{
font-size: 2em;
margin-bottom: 3vh;
}
.SideshowText p{
font-size: 1.13em;
color: #2C2D33;
margin-bottom: 3vh;
}
.slideshow-container {
  display: flex;
  flex-direction: row;
  max-width: 70%;
  position: relative;
  background-color: rgba(255, 0, 0, 0);
  border-bottom: 1px solid rgb(218, 218, 218);
}
.activeSlide {
  display: block !important;
}

.mySlides {
  display: none;
}

.mySlides img{
  width:100%;
  height: 100%;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px 16px;
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 9999;
  background-color: #2C2D33;
  border-radius: 100%;
}

.prev {
  left: -50px;
}

.next {
  right: -50px;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.actives,
.dot:hover {
  background-color: #c90404;
}
/* Contenitore ( 25% 4, 50% 2, 33.33%; 3 etc) */
.column {
  float: left;
  width: 25%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
/*CAROSELLO FINE*/

/*---- FOOTER ----*/
.footer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #c32d3200;
  margin-top: 10vw;
  align-items: center;
}

.footer-container p {
  font-family: "PT Sans", sans-serif;
  color: #5b5d6a;
  font-size: 0.95em;
  line-height: 1.8;
}

.footer-text {
  display: flex;
  align-items: center;
  background-color: rgba(0, 255, 255, 0);
  height: 100%;
  width: 75%;
  padding: 32px 0px;
  border-top: 1px solid #dddcda;
}

.flex-icon {
  background-color: #7a0c1000;
  margin-left: 13.5%;
  display: flex;
  align-items: center;
  height: 100%;
}

.icon-item,
.icon-item-vletter img {
  background-color: rgba(128, 0, 128, 0);
  margin: 2px;
  width: 4.5vh;
  height: auto;
}

.icon-item-vletter img {
  margin-right: 2vh;
}

.icon-item img {
  width: 100%;
}

/*---- FOOTER FINE ----*/

/*--------MEDIA QUERY--------*/

/*----(laptop con schermi di grandi dimensioni e desktop, 1670px e meno) ----*/
@media (max-width: 1670px) {
  #flexlogin {
    height: 6.2vh;
  }

  #logodiv {
    width: 27vw;
  }

  #logodiv img {
    height: auto;
    width: 200px;
    margin-left: 2vw;
  }

  div.centerlink a {
    font-weight: bold;
    font-size: 1em;
    padding: 0.5% 2.5%;
  }

  .centerlink {
    width: 46.3%;
    height: 100%;
  }

  .group {
    margin-left: 0.1vh;
    width: 16%;
  }

  .group2 {
    margin-right: 3.5vh;
    width: 12%;
  }

  .articlecontainer {
    width: 100%;
  }

  .academy-item {
    margin: 0;
    width: 100%;
  }

  .logonav {
    height: var(--logonavheight);
  }

  #articleimg {
    height: var(--articlecontainerdimensionheightlapt);
    width: var(--articlecontainerdimensionheightlapt);
  }
}

/*----(laptop con schermi di piccole dimensioni, 1200px e meno) ----*/
@media screen and (max-width: 1200px) {
  .multisectioncontainer {
    flex-direction: column;
  }

  .largetabitem {
    width: 100%
  }

  .imagelargetab {
    height: 54%;
    width: 100%;
  }

  .imagelargetab img {
    width: 100%;
  }

  .imagemediumtab {
    width: 68%;
    margin-top: 9.5vh;
  }

  .imagemediumtab img {
    width: 100%;
    height: auto;
  }

  .mediumtabitem {
    width: 100%
  }

  .multismallsectioncontainer {
    display: flex;
    width: 77%;
    flex-direction: column;
  }

  .imagesmalltab {
    height: auto;
    width: 51.5%;
    margin-left: 1vh;
  }

  .multismallsectioncontainer {
    display: flex;
    width: 100%;
  }

  .academy-content {
    margin: 2px;
  }

  .logonav {
    justify-content: space-between;
  }

  #alinktopmarg {
    margin-top: 0vh;
  }

  .centerlink {
    display: none;
  }

  #menu {
    display: block;
    margin-right: 2vw;
  }

  /*---- Stile per la topbar ----*/
  #active {
    position: absolute;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 9999;
    font-weight: bold;
  }

  #active div {
    display: block;
    border-top: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    padding: 20px 25px;
    text-decoration: none;
  }

  #iconmenu {
    display: flex;
  }

  .academy-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .academy-container {
    width: 100%;
  }

  div.academy-container span {
    font-size: 1.1em;
  }

  .academy-link {
    font-size: 0.9em;
  }
}

/*----(tablets, 992px e meno) ----*/
@media only screen and (max-width: 992px) {
  .infoDiv{
    width:  50%;
    z-index: 10000;
  }
  /*CAROSELLO*/
  .slideshow-div{
    flex-direction: column;
    padding: 10px;
  }
  .SideshowText{
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }
  .SideshowText h1{
  font-size: 2.5em;
  margin-top: 10vw;
  }
  .SideshowText h3{
  font-size: 1.5em;
  }
  .SideshowText p{
  font-size: 1.13em;
  }
  .slideshow-container {
    flex-direction: row;
    max-width: 100%;
    height: auto;
  }
  .column {
    width: 33.33%;
  }
  .prev,
  .next {
    display: none;
  }
  /*CAROSELLO FINE*/
  .footer-text {
    flex-direction: column;
  }

  .flex-icon {
    margin-top: 3vw;
    margin-left: 0;
  }

  .icon-item {
    width: 5.5vh;
    height: auto;
  }
}

/*----(tablets e telefoni di grandi dimensioni, 768px e meno) ----*/
@media only screen and (max-width: 768px) {
  .infoDiv{
    width:  100%;
  }
  .fixed-button a {
    display: none;
  }

  .fixed-button p {
    margin: 0;
  }

  .fixed-button {
    padding: 7px 7px;
  }

  #logodiv img {
    height: auto;
    max-width: 100%;
    margin-left: 0;
  }

  .group {
    width: 25%;
  }

  .articlecontainercontent {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 0;
    padding: 3%;
  }

  #h1article {
    height: auto;
    width: 100%;
  }

  #h1article p {
    margin-top: 2.7vh;
  }

  #articleimg {
    width: 100%;
    height: auto;
  }

  .group {
    margin-left: 0.1vh;
    width: 25%;
  }

  .group2 {
    margin-right: 3.5vh;
    width: 12%;
  }


  .academy-container {
    width: 100%;
  }

  .academy-item {
    margin-left: 0;
    width: 100%;
    padding: 0;
    height: auto;
  }

  .academy-content {
    border-radius: 10px;
    margin: 2px;
  }

  .academy-container,
  .academy-item,
  .academy-content {
    flex-direction: column;
  }

  div.academy-section span {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
  }

  .academy-link {
    font-size: 1em;
  }

  .academy-image {
    width: 100%;
    padding: 10px;
  }

  .academy-image img {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }

  .divassist {
    background-color: white;
    width: calc(100% - 10px);
    height: 85vh;
    right: 0;
    left: 0;
    margin: auto;
    padding: 16px 20px;
    z-index: 10000;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
}
/*----(telefoni, 600px e meno) ----*/
@media only screen and (max-width: 600px) {
  div#h1article h1 {
    font-size: 10.8vw;
  }

  .logonav {
    height: var(--logonavheight);
  }

  #logodiv img {
    height: auto;
    width: 200px;
    margin-left: 0%;
  }

  .group,
  .group2 {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
  }

  #logodiv {
    display: flex;
    align-items: center;
    height: auto;
    width: 55%;
  }
}