body {
    font-family: Roboto Condensed, sans-serif;
    background-color: rgba(6, 11, 16, 255);
    color: #000000;
    margin: 0;
}
.spotyimg{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.spotydivprincipale{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 10vw;
    background-color: #fff;
    border-radius: 20px;
}
div.spotydiv {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select, button {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

button {
    background-color: #b91d1d;
    color: white;
    cursor: pointer;
    width: 50%;
}

button:hover {
    background-color: #5f1515;
}

.song-list {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
